<template>
  <div>
    <h2 class="mb-4">Regístrate en Bitex</h2>
    <div class="text-justify"></div>

    <ValidationObserver ref="form" v-slot="{ handleSubmit }">
      <v-form @submit.prevent="handleSubmit(onSubmit)">
        <input name="utf8" type="hidden" value="✓" />
        <input type="hidden" name="authenticity_token" :value="$csrfToken" />

        <v-card class="mb-4">
          <v-card-title>
            Información general
          </v-card-title>
          <v-card-text>
            <ValidationProvider
              v-slot="{ errors }"
              rules="required"
              vid="firstName"
            >
              <v-text-field
                class="mb-4"
                type="text"
                v-model="object.firstName"
                label="Nombre"
                outlined
                :error-messages="errors"
                hide-details="auto"
              />
            </ValidationProvider>

            <ValidationProvider
              v-slot="{ errors }"
              rules="required"
              vid="lastName"
            >
              <v-text-field
                class="mb-4"
                type="text"
                v-model="object.lastName"
                label="Apellido"
                required
                outlined
                :error-messages="errors"
                hide-details="auto"
              />
            </ValidationProvider>

            <ValidationProvider
              v-slot="{ errors }"
              rules="required"
              vid="birthDate"
            >
              <v-menu
                ref="birthDateMenu"
                v-model="showBirthDatePicker"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    class="mb-4"
                    v-model="object.birthDate"
                    label="Fecha de nacimiento"
                    v-bind="attrs"
                    v-on="on"
                    readonly
                    outlined
                    required
                    :error-messages="errors"
                    hide-details="auto"
                  />
                </template>
                <v-date-picker
                  ref="birthDatePicker"
                  v-model="object.birthDate"
                  :max="new Date().toISOString().substr(0, 10)"
                  min="1900-01-01"
                  @change="saveBirthDate"
                  locale="es"
                >
                </v-date-picker>
              </v-menu>
            </ValidationProvider>

            <ValidationProvider
              v-slot="{ errors }"
              rules="required"
              vid="nationality"
            >
              <v-autocomplete
                class="mb-4"
                v-model="object.nationality"
                :items="countries"
                item-text="name_es"
                item-value="code"
                label="Nacionalidad"
                persistent-hint
                single-line
                outlined
                :error-messages="errors"
                hide-details="auto"
              ></v-autocomplete>
            </ValidationProvider>
          </v-card-text>
        </v-card>

        <v-card class="mb-4">
          <v-card-title>
            Documento Nacional de Identidad
          </v-card-title>
          <v-card-text>
            <ValidationProvider
              v-slot="{ errors }"
              rules="required"
              vid="idNumber"
            >
              <v-text-field
                class="mb-4"
                type="text"
                v-model="object.idNumber"
                label="Número de documento"
                required
                outlined
                :error-messages="errors"
                hide-details="auto"
              />
            </ValidationProvider>

            <p>
              Sube una foto o escaneo del frente y otra del dorso de tu
              identificacion. Las imagenes tienen que ser nítidas, a color y no
              presentar ningún tipo de cortes o zonas no legibles.
            </p>

            <ValidationProvider
              v-slot="{ validate, errors }"
              rules="required|ext:jpg,jpeg,png"
              vid="idAttachmentFrontFile"
            >
              <v-file-input
                class="mb-4"
                accept="image/*"
                label="Documento (frente)"
                outlined
                :error-messages="errors"
                hide-details="auto"
                @change="
                  (file) =>
                    validate(file) && setFile('idAttachmentFrontFile', file)
                "
              ></v-file-input>
            </ValidationProvider>

            <ValidationProvider
              v-slot="{ validate, errors }"
              rules="required|ext:jpg,jpeg,png"
              vid="idAttachmentBackFile"
            >
              <v-file-input
                class="mb-4"
                accept="image/*"
                label="Documento (dorso)"
                outlined
                :error-messages="errors"
                hide-details="auto"
                @change="
                  (file) =>
                    validate(file) && setFile('idAttachmentBackFile', file)
                "
              ></v-file-input>
            </ValidationProvider>
          </v-card-text>
        </v-card>

        <v-card class="mb-4">
          <v-card-title>
            Domicilio
          </v-card-title>
          <v-card-text>
            <v-row no-gutters>
              <v-col cols="12" md="6" class="pr-md-4">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  vid="domicileStreetAddress"
                >
                  <v-text-field
                    class="mb-4"
                    type="text"
                    v-model="object.domicileStreetAddress"
                    label="Calle"
                    outlined
                    :error-messages="errors"
                    hide-details="auto"
                  />
                </ValidationProvider>
              </v-col>
              <v-col cols="12" md="3" class="pr-md-4">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  vid="domicileStreetNumber"
                >
                  <v-text-field
                    class="mb-4"
                    type="text"
                    v-model="object.domicileStreetNumber"
                    label="Número"
                    outlined
                    :error-messages="errors"
                    hide-details="auto"
                  />
                </ValidationProvider>
              </v-col>
              <v-col cols="12" md="3">
                <ValidationProvider v-slot="{ errors }" vid="domicileFloor">
                  <v-text-field
                    class="mb-4"
                    type="text"
                    v-model="object.domicileFloor"
                    label="Piso"
                    outlined
                    :error-messages="errors"
                    hide-details="auto"
                  />
                </ValidationProvider>
              </v-col>
            </v-row>

            <v-row no-gutters>
              <v-col cols="12" md="9" class="pr-sm-4">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  vid="domicileCity"
                >
                  <v-text-field
                    class="mb-4"
                    type="text"
                    v-model="object.domicileCity"
                    label="Ciudad"
                    outlined
                    :error-messages="errors"
                    hide-details="auto"
                  />
                </ValidationProvider>
              </v-col>
              <v-col cols="12" md="3">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  vid="domicilePostalCode"
                >
                  <v-text-field
                    class="mb-4"
                    type="text"
                    v-model="object.domicilePostalCode"
                    label="Código postal"
                    outlined
                    :error-messages="errors"
                    hide-details="auto"
                  />
                </ValidationProvider>
              </v-col>
            </v-row>

            <ValidationProvider
              v-slot="{ errors }"
              rules="required"
              vid="domicileCountry"
            >
              <v-autocomplete
                class="mb-4"
                v-model="object.domicileCountry"
                :items="countries"
                item-text="name_es"
                item-value="code"
                label="País"
                persistent-hint
                single-line
                outlined
                :error-messages="errors"
                hide-details="auto"
              ></v-autocomplete>
            </ValidationProvider>

            <ValidationProvider
              v-slot="{ validate, errors }"
              rules="required|ext:jpg,jpeg,png"
              vid="domicileAttachmentFile"
            >
              <v-file-input
                class="mb-4"
                accept="image/*"
                label="Comprobante de domicilio"
                outlined
                :error-messages="errors"
                hide-details="auto"
                @change="
                  (file) =>
                    validate(file) && setFile('domicileAttachmentFile', file)
                "
              ></v-file-input>
            </ValidationProvider>
          </v-card-text>
        </v-card>

        <div class="d-flex justify-end">
          <v-btn text type="button" @click="resetForm">Limpiar</v-btn>
          <v-btn color="primary" type="submit">Registrarse</v-btn>
        </div>
      </v-form>
    </ValidationObserver>
  </div>
</template>

<script>
import User from "@/resources/User";
import countriesJson from "@/data/countries.json";

export default {
  props: {
    user: {
      type: User,
      default: () => User.build(),
    },
  },
  data: ({ user }) => {
    return {
      countries: countriesJson,
      object: user.attributes(),
      showBirthDatePicker: false,
    };
  },
  computed: {
    computedBirthDate: {
      get() {
        return this.$formatDate(this.object.birthDate);
      },
      set(date) {},
    },
  },
  watch: {
    showBirthDatePicker(val) {
      val &&
        setTimeout(() => (this.$refs.birthDatePicker.activePicker = "YEAR"));
    },
  },
  methods: {
    resetForm() {
      let user = User.build();

      this.object = user.attributes();
    },
    async onSubmit() {
      let loader = this.$loading.show({
        backgroundColor: "#0c436f",
        color: "#fff",
        opacity: 0.8,
      });

      if (this.$refs.form.validate()) {
        this.user.assignAttributes({
          ...this.object,
        });

        try {
          await this.user.save();

          if (this.user.valid()) {
            this.$toasted.success("Datos registrados exitosamente.");
          } else {
            this.$refs.form.setErrors(this.user.getErrors());
          }
        } catch {
          this.$refs.form.setErrors(this.user.getErrors());
          this.$toasted.error("Ocurrió un error al registrar sus datos.");
        }
      }

      loader.hide();
    },
    saveBirthDate(date) {
      this.$refs.birthDateMenu.save(date);
    },
    setFile(field, file) {
      this.$setFileData(file, this.object, field);
    },
  },
};
</script>
