<template>
  <v-app>
    <v-main class="mb-8">
      <v-container class="ps-4">
        <v-row>
          <v-col
            cols="12"
            sm="10"
            offset-sm="1"
            md="10"
            offset-md="1"
            lg="8"
            offset-lg="2"
            xl="6"
            offset-xl="3"
          >
            <h1>Bitex.la</h1>
            <router-view />
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <v-footer color="primary">
      <v-row justify="center" no-gutters>
        <v-col class="text-center white--text">
          <span>Bitex Challenge (ldgnoack)</span>
        </v-col>
      </v-row>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
@import 'assets/stylesheets/app';
</style>

