@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&family=Open+Sans:wght@300;400;600;700&display=swap');

.v-application {
  background-color: #efefef !important;
  color: #333333;
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2 {
  font-family: 'Dosis', sans-serif;
}