<!DOCTYPE html>
<html>
  <head>
    <title>Bitex Challenge (ldgnoack)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_pack_tag 'media/assets/favicon.ico' %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= content_tag :div, nil, id: "app" %>
  </body>
</html>
